: root {
    font - family: Inter, Avenir, Helvetica, Arial, sans - serif;
    font - size: 16 px;
    line - height: 24 px;
    font - weight: 400;
    color - scheme: light dark;
    color: #ffffffde;
    background - color: #242424;font-synthesis:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:100%}a{font-weight:500;color:# 646 cff;
    text - decoration: inherit
}
a: hover {
    color: #535bf2}body{margin:0;display:flex;place-items:center;min-width:320px;min-height:100vh}h1{font-size:3.2em;line-height:1.1}button{border-radius:8px;border:1px solid transparent;padding:.6em 1.2em;font-size:1em;font-weight:500;font-family:inherit;background-color:# 1 a1a1a;cursor: pointer;transition: border - color .25 s
}
button: hover {
        border - color: #646cff}button:focus,button:focus-visible{outline:4px auto -webkit-focus-ring-color}.card{padding:2em}# app {
            max - width: 1280 px;
            margin: 0 auto;
            padding: 2 rem;
            text - align: center
        }
        @media(prefers - color - scheme: light) {
                : root {
                    color: #213547;background-color:# fff
                }
                a: hover {
                    color: #747bff}button{background-color:# f9f9f9
                }
            }.base - timer[data - v - 958422 d0] {
                position: relative;width: 60 px;height: 60 px
            }.base - timer__circle[data - v - 958422 d0] {
                fill: none;stroke: none
            }.base - timer__path - elapsed[data - v - 958422 d0] {
                stroke - width: 1 px;
                stroke: gray
            }.base - timer__label[data - v - 958422 d0] {
                position: absolute;width: 60 px;height: 60 px;top: 0;display: flex;align - items: center;justify - content: center;font - size: 15 px
            }.base - timer__path - remaining[data - v - 958422 d0] {
                stroke - width: 1 px;
                stroke - linecap: round;
                transform: rotate(90 deg);
                transform - origin: center;
                transition: 1 s linear all;
                fill - rule: nonzero;
                stroke: currentColor
            }.base - timer__path - remaining.green[data - v - 958422 d0] {
                color: #41b883}.base-timer__path-remaining.orange[data-v-958422d0]{color:orange}.base-timer__path-remaining.red[data-v-958422d0]{color:red}.base-timer__svg[data-v-958422d0]{transform:scaleX(-1)}@font-face{font-family:NexonMaplestory;font-weight:300;font-style:normal;src:url(https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.eot);src:url(https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.eot?# iefix) format("embedded-opentype"), url(https: //cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.woff2) format("woff2"),url(https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.woff) format("woff"),url(https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.ttf) format("truetype");font-display:swap}div{display:block;float:left;font-family:NexonMaplestory}.cont{width:120px;height:90px}.imgcap{width:60px;height:90px}.pattern{width:60px;height:60px}.nuke{width:32px;height:32px;margin:14px}button{width:70px;height:40px;margin:5px;border-style:solid;border-color:#000;font-size:12px}.outer{border-style:solid;border-color:#000;border-radius:10px;background-color:#fff;text-align:center;color:#000}div.item{vertical-align:top;display:inline-block;text-align:center;width:120px}.caption{display:block;font-size:10px;position:relative;bottom:15px}.timer{position:relative;top:5px}
